<title>My application deployed automatically</title>
	<h1>Hello, World!</h1>
		Result is{{result}}


  <form action="compute" method="post">
  	<textarea name="inpu1" rows="10" cols="30"></textarea>
  	<textarea name="inpu2" rows="10" cols="30"></textarea>
  	<br>
  	<input type>="submit">
  </form>	  	